@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');
*{
    margin: 0px;
}
body{
    
    background: linear-gradient(rgba(0, 0, 0, 0.603),rgba(0, 0, 0, 0.637)100%), url(https://img.elo7.com.br/product/zoom/323BA45/grao-de-cafe-para-artesanato-sache.jpg);
}
/*header*/

header{
    background-color: rgb(27, 29, 6);
    color: white;
    display: flex;
    
}
header h1{
    font-size: 15px;
    margin: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header h1 span{
    font-size: 35px;
    font-family: 'Nanum Myeongjo', serif;}
header p{
    align-self: center;
    margin-left: auto;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
header p span{
   color: rgb(112, 72, 3);
}
input{
    display: block;
    margin-bottom: 7px;
}

main article{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
article{
   height: 500px; 
}
article div{
    color: white;
    margin-left: 10px;
    
}
article div p{
    font-family: 'Roboto Slab', serif;
}
article div #li-pri{
    font-size: 35px;
    font-family: 'Anton', sans-serif;

}
article div #destaque{
    font-size: 35px;
    color: rgb(184, 175, 108);
    font-family: 'Anton', sans-serif;
}

form{
    color: white;
    padding: 15px;
    background-color: rgb(121, 114, 58);
    border-radius: 15px;
    margin-right:10px ;
    text-align: center;
    
    margin-top: 5px;
}
form input{
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 20px;
    
}
form h2{
    font-family: 'Roboto', sans-serif;

}
form p{
    margin-top: 5px;
    margin-bottom: 5px;
}
form button{
    border: blue 1px solid;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 5px;
    margin-bottom: 5px;
}
